<div class="row">
  <div class="span10">
    <div class="row" id="div_email">
      <div class="span2"><%= I18n.translate 'model.user.fields._id' %>:</div>
      <div class="span8"><%= @user.id %></div>
    </div>

    <div class="row" id="div_nickname">
      <div class="span2"><%= I18n.translate 'model.user.fields.nickname' %>:</div>
      <div class="span8"><%= @user.nickname %></div>
    </div>
    
    <div class="row" id="div_first_name">
      <div class="span2"><%= I18n.translate 'model.user.fields.first_name' %>:</div>
      <div class="span8"><%= @user.first_name %></div>
    </div>
    
    <div class="row" id="div_last_name">
      <div class="span2"><%= I18n.translate 'model.user.fields.last_name' %>:</div>
      <div class="span8"><%= @user.last_name %></div>
    </div>
    
    <div class="row" id="div_home_page">
      <div class="span2"><%= I18n.translate 'model.user.fields.home_page' %>:</div>
      <div class="span8"><a href="<%= @user.home_page %>"><%= @user.home_page %></a></div>
    </div>
    
    <div class="row" id="div_phones">
      <div class="span2"><%= I18n.translate 'model.user.fields.phones' %>:</div>
      <div class="span8"><%= ((@user.phones) ? @user.phones.first : '') %></div>
    </div>

    <% if @signed_user.has_permission? Rules::USER_MANAGE_STATUS %>
    <div class="row">
      <div class="span2"><%= I18n.translate 'model.user.fields.active' %>:</div>
      <div id="div_user_account_status" class="span8"><%= @user.user_account_status %></div>
    </div>
    <% end %>
  </div>

  <div class="span2">
    <%= gravatar_image_tag :email => @user.id, :size => 140, :linkable => true %>
  </div>
</div>

<div class="row">
  <div class="span2"></div>
  <div class="span8">
  <table>
  <tr>
  <% if (@signed_user.id == @user.id) || (@signed_user.has_permission? Rules::USER_CREATE_ACCOUNT) %>
    <td>
      <form>
        <a id="edit_profile" href="<%= url :user, :edit_profile, :nickname => @user.nickname %>" class="btn btn-info"><%= I18n.translate 'edit' %></a>
      </form>
    </td>
  <% end %>
  <% if @signed_user.has_permission? Rules::USER_MANAGE_STATUS %>
    <% if @user.active == true %>
      <td>
        <% form_tag url(:user, :inactivate_user_account), :method => :post, :id => 'form_user_account_activation' do %>
          <input type="hidden" value="<%= @user.nickname %>" id="user_nickname_manage_status" name="user[nickname]"/>
          <button type="submit" class="btn btn-warning"><%= I18n.translate 'inactivate' %></button>
        <% end %>
      </td>
    <% else %>
      <td>
        <% form_tag url(:user, :activate_user_account), :method => :post, :id => 'form_user_account_inactivation' do %>
          <input type="hidden" value="<%= @user.nickname %>" id="user_nickname_manage_status" name="user[nickname]"/>
          <button type="submit" class="btn btn-success"><%= I18n.translate 'activate' %></button>
        <% end %>
      </td>
    <% end %>
  <% end %>
  <% if @signed_user.has_permission? Rules::USER_DELETE_ACCOUNT %>
    <td>
      <% form_tag url(:user, :delete_user_account), :method => :delete, :id => 'form_user_account_delete' do %>
        <input type="hidden" value="<%= @user.nickname %>" id="user_nickname_manage_status" name="user[nickname]"/>
        <button type="submit" class="btn btn-danger" onclick="return confirm('<%= I18n.translate("view.user_profile.message.user_delete_account.delete_confirmation") %>');"><%= I18n.translate 'delete' %></button>
      <% end %>
    </td>
  <% end %>
  </tr>
  </table>
  </div>
</div>

<hr/>

<% if @signed_user.has_permission? Rules::USER_MANAGE_PERMISSIONS %>
<h4><%= I18n.translate 'view.user_profile.functionalities' %></h4>

<% unless @user.feature_permissions.nil? %>
<ul>
  <% @user.feature_permissions.each do |f| %>
    <li>
      <a href="#" data-toggle="tooltip" title="<%= I18n.translate "features.#{f.downcase}.description" %>"><%= I18n.translate "features.#{f.downcase}.label" %></a>
    </li>
  <% end %>
</ul>
<% end %>
<a id="edit_permissions" href="<%= url :user, :edit_permissions, :nickname => @user.nickname %>" class="btn btn-info"><%= I18n.translate 'edit' %></a>
<% end %>