<% if @edit_mode %>

<div>
  <% form_tag url(:user, :update_profile, :id => @user.id), :method => :post, :id => 'form_update_profile', :onsubmit => "return validateForm();" do %>
    <div class="row">
      <div class="span2"><label for="user_email"><%= I18n.translate 'model.user.fields._id' %>: *</label></div>
      <div class="span6"><input type="email" required maxlength="100" id="user_email" name="user[email]" value="<%= @user.id %>"/></div>
    </div>
    <div class="row">
      <div class="span2"><label for="user_first_name"><%= I18n.translate 'model.user.fields.first_name' %>: *</label></div>
      <div class="span6"><input type="text" required maxlength="50" id="user_first_name" name="user[first_name]" value="<%= @user.first_name %>"/></div>
    </div>
    <div class="row">
      <div class="span2"><label for="user_last_name"><%= I18n.translate 'model.user.fields.last_name' %>: *</label></div>
      <div class="span6"><input type="text" required maxlength="50" id="user_last_name" name="user[last_name]" value="<%= @user.last_name %>"/></div>
    </div>
    <div class="row">
      <div class="span2"><label for="user_home_page"><%= I18n.translate 'model.user.fields.home_page' %>:</label></div>
      <div class="span6"><input type="url" maxlength="100" id="user_home_page" name="user[home_page]" value="<%= @user.home_page %>"/></div>
    </div>
    <div class="row">
      <div class="span2"><label for="user_phone_number"><%= I18n.translate 'model.user.fields.phones' %>:</label></div>
      <div class="span6"><input type="number" min="1" max="99999999999" id="user_phone_number" name="user[phone_number]" value="<%= (@user.phones.nil?) ? '' : @user.phones.first %>"/></div>
    </div>
    <div class="row">
      <div class="span2"></div>
      <div class="span6"><button type="submit" class="btn btn btn-success"><%= I18n.translate 'save' %></button></div>
    </div>
  <% end %>
</div>

<script>
  function validateForm() {
    return this.validatePhoneNumber();
  }

  function validatePhoneNumber() {
    var phone_number = document.getElementById('user_phone_number').value;

    if (phone_number != null && phone_number != "" && phone_number.length < 8) {
      alert('<%= I18n.translate 'model.user.validation.phone_number_length' %>');
      return false;
    }

    return true;
  }
</script>

<% else %>

<div class="row">
  <div class="span10">
    <div class="row" id="div_email">
      <div class="span2"><%= I18n.translate 'model.user.fields._id' %>:</div>
      <div class="span8"><%= @user.id %></div>
    </div>

    <div class="row" id="div_nickname">
      <div class="span2"><%= I18n.translate 'model.user.fields.nickname' %>:</div>
      <div class="span8"><%= @user.nickname %></div>
    </div>
    
    <div class="row" id="div_first_name">
      <div class="span2"><%= I18n.translate 'model.user.fields.first_name' %>:</div>
      <div class="span8"><%= @user.first_name %></div>
    </div>
    
    <div class="row" id="div_last_name">
      <div class="span2"><%= I18n.translate 'model.user.fields.last_name' %>:</div>
      <div class="span8"><%= @user.last_name %></div>
    </div>
    
    <div class="row" id="div_home_page">
      <div class="span2"><%= I18n.translate 'model.user.fields.home_page' %>:</div>
      <div class="span8"><a href="<%= @user.home_page %>"><%= @user.home_page %></a></div>
    </div>
    
    <div class="row" id="div_phones">
      <div class="span2"><%= I18n.translate 'model.user.fields.phones' %>:</div>
      <div class="span8"><%= ((@user.phones) ? @user.phones.first : '') %></div>
    </div>

    <% if @signed_user.has_permission? Features::USER_MANAGE_STATUS %>
    <div class="row">
      <div class="span2"><%= I18n.translate 'model.user.fields.active' %>:</div>
      <div id="div_user_account_status" class="span8"><%= user_account_status @user %></div>
    </div>
    <% end %>
  </div>

  <div class="span2">
    <%= gravatar_image_tag :email => @user.id, :size => 140, :linkable => true %>
  </div>
</div>

<div class="row">
  <div class="span2"></div>
  <div class="span8">
  <table>
  <tr>
  <% if @signed_user.id == @user.id %>
    <td>
      <form>
        <a id="edit_profile" href="<%= url :user, :edit_profile, :nickname => @user.nickname %>" class="btn btn-info"><%= I18n.translate 'edit' %></a>
      </form>
    </td>
  <% end %>
  <% if @signed_user.has_permission? Features::USER_MANAGE_STATUS %>
    <% if @user.active == true %>
      <td>
        <% form_tag url(:user, :inactivate_user_account), :method => :post, :id => 'form_user_account_activation' do %>
          <input type="hidden" value="<%= @user.nickname %>" id="user_nickname_manage_status" name="user[nickname]"/>
          <button type="submit" class="btn btn-warning"><%= I18n.translate 'inactivate' %></button>
        <% end %>
      </td>
    <% else %>
      <td>
        <% form_tag url(:user, :activate_user_account), :method => :post, :id => 'form_user_account_inactivation' do %>
          <input type="hidden" value="<%= @user.nickname %>" id="user_nickname_manage_status" name="user[nickname]"/>
          <button type="submit" class="btn btn-success"><%= I18n.translate 'activate' %></button>
        <% end %>
      </td>
    <% end %>
  <% end %>
  <% if @signed_user.has_permission? Features::USER_DELETE_ACCOUNT %>
    <td>
      <% form_tag url(:user, :delete_user_account), :method => :delete, :id => 'form_user_account_delete' do %>
        <input type="hidden" value="<%= @user.nickname %>" id="user_nickname_manage_status" name="user[nickname]"/>
        <button type="submit" class="btn btn-danger" onclick="return confirm('<%= I18n.translate("view.user_profile.message.user_delete_account.delete_confirmation") %>');"><%= I18n.translate 'delete' %></button>
      <% end %>
    </td>
  <% end %>
  </tr>
  </table>
  </div>
</div>

<hr/>

<% if @signed_user.has_permission? Features::USER_MANAGE_PERMISSIONS %>
<h4><%= I18n.translate 'view.user_profile.functionalities' %></h4>

<% unless @user.feature_permissions.nil? %>
<ul>
  <% @user.feature_permissions.each do |f| %>
    <li>
      <a href="#" data-toggle="tooltip" title="<%= I18n.translate "features.#{f.downcase}.description" %>"><%= I18n.translate "features.#{f.downcase}.label" %></a>
    </li>
  <% end %>
</ul>
<% end %>
<a id="edit_permissions" href="<%= url :user, :edit_permissions, :nickname => @user.nickname %>" class="btn btn-info"><%= I18n.translate 'edit' %></a>
<% end %>

<% end %>