<h4><%= @group.name %></h4>

<div class="row" id="group_description">
  <div class="span10">
    <p class="lead">
      <%= @group.description %>
    </p>
  </div>
</div>

<div class="row">
  <div class="span2"><%= I18n.translate 'model.group.fields.owner' %>:</div>
  <div class="span8">
    <a href="<%= url :user, :profile, :nickname => @group.owner.nickname %>"/><%= @group.owner.nickname %></a>
  </div>
</div>

<% if @group.base_group %>
<div class="row">
  <div class="span2"><%= I18n.translate 'model.group.fields.base_group' %>:</div>
  <div class="span8">
    <a href="<%= url :group, :dashboard, :id => @group.base_group.id %>"/><%= @group.base_group.name %></a>
  </div>
</div>
<% end %>

<br/>

<div class="row">
  <div class="span2"></div>
  <div class="span8">
  <table>
    <tbody>
      <tr>
        <% if can_edit_group? @group, @signed_user %>
        <td>
          <form>
            <a id="edit_group" href="<%= url :group, :edit, :id => @group.id %>" class="btn btn-info"><%= I18n.translate 'edit' %></a>
          </form>
        </td>
        <% end %>

        <% if can_delete_group? @group, @signed_user %>
        <td>
          <% form_tag url(:group, :delete, :id => @group.id), :method => :delete, :id => 'form_group_delete' do %>
            <button type="submit" class="btn btn-danger" onclick="return confirm('<%= I18n.translate("view.group_dashboard.message.delete_confirmation") %>')"><%= I18n.translate 'delete' %></button>
          <% end %>
        </td>
        <% end %>

        <% if can_change_group_owner? @group, @signed_user %>
          <td>
            <form>
              <a id="change_group_owner" href="<%= url :group, :change_group_owner, :id => @group.id %>" class="btn btn-warning"><%= I18n.translate 'view.group_dashboard.change_owner' %></a>
            </form>
          </td>
        <% end %>

        <% if can_subscribe_to_group? @group, @signed_user %>
          <td>
            <% form_tag url(:group, :subscribe, :group_id => @group.id, :user_id => @signed_user.id), :method => :post, :id => 'form_group_subscribe' do %>
              <button type="submit" class="btn btn-info"><%= I18n.translate 'subscribe' %></button>
            <% end %>
          </td>
        <% end %>

        <% if can_unsubscribe_from_group? @group, @signed_user %>
          <td>
            <% form_tag url(:group, :unsubscribe, :group_id => @group.id, :user_id => @signed_user.id), :method => :post, :id => 'form_group_unsubscribe' do %>
              <button type="submit" class="btn btn-info"><%= I18n.translate 'unsubscribe' %></button>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<hr/>

<h4><%= I18n.translate 'view.group_dashboard.members' %></h4>

<% form_tag url(:group, :unsubscribe), :method => :post, :id => 'form_unsubscribe' do %>
  <input type="hidden" name="group_id" id="group_id" value=""/>
  <input type="hidden" name="user_id" id="user_id" value=""/>
  <input type="hidden" name="from_group" id="from_group" value="true"/>

  <%= DataTable.new do |t|
      t.page_index = @members_current_page
      t.total = @members.count
      t.data = @members
      t.columns = []
      t.columns << DataColumn.new(:title => 'Name', :ui => { :type => :link, :value => "/user/%{nickname}", :label => "%{nickname}" }, :width => 400)

      if @signed_user == @group.owner
        t.columns << DataColumn.new(:ui => { :type => :input, :input_type => 'submit', :value => I18n.translate('unsubscribe'), :class => 'btn btn-warning', :onclick => "setUnsubscribeParams('#{@group.id}', '%{id}');" }, :width => 20)
      end

      t.columns << DataColumn.new(:ui => { :type => nil, :value => "%{gravatar_image_node(doc, :size => 40, :linkable => false)}" }, :width => 20)
  end.render :id => 'dt_members', :csrf_token => csrf_token %>
<% end %>

<% if @signed_user == @group.owner %>
  <br/>
  <a id="subscribe_user" href="<%= url :group, :subscribe, :id => @group.id %>" class="btn btn-info"><%= I18n.translate 'view.group_dashboard.subscribe_user' %></a>
<% end %>

<hr/>

<h4><%= I18n.translate 'view.group_dashboard.sub_groups' %></h4>

<%= DataTable.new do |t|
    t.page_index = @sub_groups_current_page
    t.total = @sub_groups.count
    t.data = @sub_groups
    t.columns = [
      DataColumn.new(:title => 'Name', :ui => { :type => :link, :value => "/group/%{id}", :label => "%{name}" }, :width => 400)
    ]
  end.render :id => 'dt_sub_groups', :csrf_token => csrf_token %>

<% if can_edit_group?(@group, @signed_user) && (@signed_user == @group.owner) %>
  <br/>
  <a id="create_sub_group" href="<%= url :group, :create, :id => @group.id %>" class="btn btn-info"><%= I18n.translate 'view.group_dashboard.create_sub_group' %></a>
<% end %>

<hr/>

<h4><%= I18n.translate 'view.group_dashboard.current_events' %></h4>

<script>
  function setUnsubscribeParams(gid, uid) {
    $('#group_id').val(gid);
    $('#user_id').val(uid);
  }
</script>