<br/><br/><br/><br/><br/><br/><br/><br/>
<div class="hero-unit">
  <div class="row">
    <div></div>
    <div class="span10">
      <h2><%= ENV['APP_NAME'] %></h1>
      <h3><%= I18n.translate 'view.index.presentation' %></h2>

      <div class="row">
        <div class="span4">
          <a href="<%= url :sign_in %>" class="btn btn-large btn-block"><b><%= I18n.translate 'sign_in' %></b></a>
        </div>
        <div class="span4">
          <a href="<%= url :sign_up %>" class="btn btn-success btn-large btn-block"><b><%= I18n.translate 'sign_up' %></b></a>
        </div>
      </div>
    </div>
  </div>
</div>