<div class="row">
  <div class="span9"><h2><%= ENV['APP_NAME'] %></h2></div>
  <div class="span3" align="right"><br/><a href="<%= url :sign_up %>" class="btn"><%= I18n.translate 'sign_up' %></a></div>
</div>

<hr/>

<div>
  <% form_tag url(:user, :authentication), :method => :post, :id => 'form_authentication' do %>
    <div class="row">
      <div class="span2"><%= I18n.translate 'model.user.fields._id' %>: *</div>
      <div class="span6"><input type="email" required maxlength="100" id="user_email" name="user[email]" value="<%= @user.id if @user %>"/></div>
    </div>
    <div class="row">
      <div class="span2"><%= I18n.translate 'model.user.fields.password' %>: *</div>
      <div class="span6"><input type="password" required maxlength="30" id="user_password" name="user[password]" value=""/></div>
    </div>
    <div class="row">
      <div class="span2"></div>
      <div class="span6"><button type="submit" class="btn btn btn-success"><%= I18n.translate 'sign_in' %></button></div>
    </div>
    <div class="row">
      <div class="span8">
        <a href="<%= url :forgot_password %>"><%= I18n.translate 'forgot_password' %></a>
      </div>      
    </div>
  <% end %>
</div>