<div class="row">
  <div class="span10"><h2><%= ENV['APP_NAME'] %></h2></div>
  <div class="span2"><br/><a href="" class="btn"><%= I18n.translate 'sign_in' %></a></div>
</div>

<hr/>

<div>
  <% form_for :user, url(:user, :create_account), :method => :post, :id => 'form_create_account' do |field| %>
    <div class="row">
      <div class="span2"><%= field.label :email, :required => true %></div>
      <div class="span6"><%= field.text_field :email, :required => true, :type => 'email', :maxlength => 100 %></div>
    </div>
    <div class="row">
      <div class="span2"><%= field.label :first_name, :required => true %></div>
      <div class="span6"><%= field.text_field :first_name, :required => true, :maxlength => 50 %></div>
    </div>
    <div class="row">
      <div class="span2"><%= field.label :last_name, :required => true %></div>
      <div class="span6"><%= field.text_field :last_name, :required => true, :maxlength => 50 %></div>
    </div>
    <div class="row">
      <div class="span2"><%= field.label :password, :required => true %></div>
      <div class="span6"><%= field.password_field :password, :required => true, :maxlength => 30 %></div>
      <span class="span4" id="password_message"></span>
    </div>
    <div class="row">
      <div class="span2"><%= I18n.translate 'view.sign_up.confirm_password' %>: *</div>
      <div class="span6"><input type="password" name="user[confirm_password]" id="user_confirm_password" value="<%= params['confirm_password'] %>" required maxlength="30"/></div>
    </div>
    <div class="row">
      <div class="span2"><%= field.label :home_page %></div>
      <div class="span6"><%= field.text_field :home_page, :type => :url %></div>
    </div>
    <div class="row">
      <div class="span2"><%= field.label :phone_number %></div>
      <div class="span6"><%= field.text_field :phone_number, :type => :number, :min => 1, :max => 99999999999 %></div>
    </div>
    <div class="row">
      <div class="span2"></div>
      <div class="span6"><button type="submit" class="btn btn btn-success" onclick="return validateForm();"><%= I18n.translate 'sign_up' %></button></div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'jquery.min' %>

<script>
  function validateForm() {
    return this.validatePassword() && this.validatePhoneNumber();
  }

  function validatePassword() {
    var password = document.getElementById('user_password').value;
    var confirm_password = document.getElementById('user_confirm_password').value;

    if (password != confirm_password) {
      alert('<%= I18n.translate 'model.user.validation.password_not_equals' %>');
      return false;
    } else if (password.length < 5) {
      alert('<%= I18n.translate 'model.user.validation.password_length' %>');
      return false;
    }

    return true;
  }

  function validatePhoneNumber() {
    var phone_number = document.getElementById('user_phone_number').value;

    if (phone_number != null && phone_number.length < 8) {
      alert('<%= I18n.translate 'model.user.validation.phone_number_length' %>');
      return false;
    }

    return true;
  }
</script>