<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>">
<head>
  <title><%= ENV['APP_NAME'] %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <div name="body-container" class="container">
    <%= yield %>
  </div>
</body>
</html>